@import url(https://fonts.bunny.net/css?family=open-sans:400,700);
@import url(https://fonts.bunny.net/css?family=poppins:600);

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@keyframes slideInRightToLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .popup {
    background-color: rgb(255, 255, 255);
    max-width: 20rem;
    position: fixed;
    z-index: 999999999;
    right: 0;
    padding: 1rem;
    border-radius: 1rem;
    bottom: 0;
    margin: 0 1rem 1rem 0;
    border: 1px solid black;
    animation: slideInRightToLeft 500ms cubic-bezier(0.18, 0.02, 0.1, 0.99);
    animation-delay: 1s;
    animation-fill-mode: forwards; 
    opacity: 0; 
  
  }

.cookies_part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup p {
    padding: 1rem 0;
}

.button_accept {
    margin-right: 1rem;
    background-color: rgb(30, 134, 253);
    transition: opacity 200ms;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
    border-radius: .4rem;

    &:hover {
        opacity: 0.9;
    }
}

.reject_button {
    background-color: rgb(30, 134, 253);
    transition: opacity 200ms;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    padding: .5rem 1rem;

    &:hover {
        opacity: 0.9;
    }
}

.buttons {
    display: flex;
    align-items: center;
}

.cross_popup {
    cursor: pointer;
}

.main_upper_part {
    background-image: url('images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60rem;
    background-color: hsl(193, 100%, 96%);
}

.the_opening_menu {
    position: fixed;
    height: 100vh;
    list-style: none;
    margin: -1rem 0 0 -0.5rem;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;


}

.the_opening_menu li {
    margin: 0 1rem 1rem 0;
    font-size: 1.2rem;

    &:hover {
        text-decoration: underline;

    }
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem .5rem;

}

.close_svg {
    margin: 1rem;
    cursor: pointer;
}

.huddle_image {
    margin-right: auto;
    width: 14rem;
}

.huddle_image img {
    width: 100%;
}

.menu_icon {
    cursor: pointer;
}

.copyright_two {
    display: none;
}

.image img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.community_heading {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 6rem;
    color: hsl(192, 100%, 9%);
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.huddle_text {
    color: hsl(192, 100%, 9%);
    font-weight: 400;
    text-align: center;
    padding: 3rem 1rem;
}

.free_button {
    padding: 1rem 4rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: block;
    cursor: pointer;
    border-radius: 99rem;
    font-size: 1rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: opacity 100ms ease-in;

    &:hover {
        opacity: 0.85;
    }
}

.g img {
    width: 100%;
}

.g {
    padding: 2rem;
    text-align: center;
    max-width: 30rem;
    justify-items: center;
    margin: 4rem 2rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.h {
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;

}

.g p {
    color: hsl(208, 11%, 55%);
    padding-bottom: 1rem;
}

.svgs {
    display: none;
}

.footer {

    color: white;
    margin-top: 15rem;
    background-color: hsl(192, 100%, 9%);
}

.ready {
    border: 1px solid white;
    position: relative;
    bottom: 8rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 2rem;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.ready_heading {
    padding: 2rem 0;
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}

.free_button_two {
    padding: 1.2rem 4rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: block;
    cursor: pointer;
    border-radius: 99rem;
    font-size: 1rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    font-family: 'Open Sans', sans-serif;
    transition: opacity 100ms ease-in;

    &:hover {
        opacity: 0.85;
    }
}


.footer ul {
    padding: 0 2rem;
    list-style: none;
}


.huddle li {
    padding-left: 0.7rem;
    padding-top: 2rem;
}

.location {
    list-style-image: url('images/icon-location.svg');
}

.phone {
    list-style-image: url('images/icon-phone.svg');
}

.email {
    list-style-image: url('images/icon-email.svg');
}

.abouti ul:first-child {
    margin-top: 1rem;
}

.abouti li,
.about li {
    padding-top: 1rem;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.copyright {
    text-align: center;
    padding: 3rem 0;
}

.tab_n_pc_nav {
    display: none;
}

@media (min-width:550px) {

    .button_accept,
    .reject_button {
        padding: .7rem 1.5rem;
        font-size: .9rem;
        border-radius: .4rem;
    }

    .popup p {
        padding: 1.5rem 0;
    }

    .popup {
        max-width: 25rem;
    }

    .menu_icon {
        display: none;
    }

    .tab_n_pc_nav {
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
        justify-content: flex-end;

    }

    .tab_n_pc_nav li {
        padding-left: 1rem;

        &:hover {
            text-decoration: underline;
        }

    }

    .community_heading {
        font-size: 3rem;
        padding: 0 2rem;
    }

    .huddle_text {
        font-size: 1.2rem;
    }

    .free_button {
        padding: 1.5rem 7rem;
    }

    .g {
        margin: 4rem auto;
    }

    .svgs {
        display: flex;
        width: 50%;
        margin: 2rem auto 0 auto;
        justify-content: space-around;


    }

}

@media (min-width:800px) {
    .popup {padding: 1.8rem 1.3rem;
        margin: 0 2rem 2rem 0;
        max-width: 30rem;
    }

    .tab_n_pc_nav li {
        font-size: 1.05rem;
        padding-left: 2rem;
    }

    .navigation {
        padding-top: 3rem;
    }

    .main_upper_part {
        background-image: url('images/bg-hero-desktop.svg');
        min-height: 35rem;

    }

    .pc_flex {
        display: flex;

        justify-content: space-around;
        margin: 4rem auto 0 auto;
        align-items: center;

        max-width: 75rem;
    }

    .left {

        text-align: left;
        margin: unset;
        align-items: start;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 50rem;

    }

    .community_heading {
        font-size: 2rem;
        text-align: left;
        padding: 0 1rem;
        margin: 0;
        max-width: 70%;
    }

    .huddle_text {
        text-align: left;
        padding: 1.6rem 1rem;
        max-width: 70%;
        font-size: 1rem;
    }

    .lol {
        max-width: 80rem;
        margin: 0 auto;
    }

    .free_button {
        margin: 0;
        margin-left: 1rem;
        padding: 1rem 4rem;

    }

    .g {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 60rem;
        gap: 2rem;
        margin: 2rem 1rem;

    }

    .h {
        text-align: left;
        margin-bottom: 1rem;
    }

    .g p {
        text-align: left;
        max-width: 70rem;
    }

    .g img {
        max-width: 60rem;
    }

    .n {
        flex-direction: row-reverse;
    }

    .ready {
        max-width: 40rem;
    }

    .flex_for_main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .bottom {
        display: flex;

        align-items: center;
        justify-content: space-between;
        max-width: 80rem;
        margin: -4rem auto 0 auto;

    }

    .svgs {
        display: none;
    }

    .abouti ul:first-child {
        margin-top: 0;
    }

    .huddle li {
        max-width: 25rem;
    }

    .footer li {
        font-size: 1rem;
    }


    .copyright {
        display: none;
    }

    .copyright_two {
        display: block;
        text-align: right;
        padding: 2rem 1rem 2rem 0;
    }

    .image {
        max-width: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}